/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
tentative body
*/
body {
    /* position: absolute; */
    margin: auto;
    /* height: 100vh;
    display: flex;
    justify-content: center; */
}

/*
tentative login/signup forms
*/


.login-image {
    /* position: relative;
    z-index: -1;
    object-fit: cover;
    min-width: 1600px; */
    
}

.everything{
    display: flex;
    flex-direction: column;
    position: relative;

}

.root-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: image_url('login_background2.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.privacy-policy {
    margin: 10px;
    line-height: 1.5em;

}

.policy {
    margin-left: 132px;
    text-decoration-line: none;
    color: blue;
}

.policy:hover {
    text-decoration-line: underline;
}

.root-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: image_url('rest_background.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.login-signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: white;
    border: solid 1px black;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: white;
    border: solid 1px black;
    margin-top: 150px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    height: 700px;
    margin: auto;
}

#errors-form {
    height: 800px;
}

.login-value {
    width: 370px;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px gray solid
}

.login-value-name {
    width: 180px;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px gray solid;
}

.login-names {
    width: 382px;
    display: flex;
    justify-content: space-between;
}

.login-submit {
    width: 375px;
    height: 45px;
    font-size: 18px;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 0;
    margin-right: 10px;
}

.signup-submit {
    width: 375px;
    height: 55px;
    font-size: 18px;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 0;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.login-links {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 175px;
}

.login-links4 {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 20px;
    
}

.signup-link-btn {
    text-decoration-line: none;
    color: blue;
}

.signup-link-btn:hover {
    text-decoration-line: underline;
}

.login-links1 {
    margin-top: 5px;
}

.login-links3 {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 200px;
}

.signup-links {
    margin-top: 5px;
    font-weight: bold;
    font-size: 22px;
}

.login-title {
    margin-bottom: 0px;
    font-size: 34px;
}

.back-to-login {
    text-decoration-line: none;
    color: blue;
}

.back-to-login:hover {
    text-decoration: underline;

}

.line-height {
    line-height: 1.5em;
}

.guest-redirect {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 380px;
    margin-top: 20px;
    margin-right: 9px;
}

.guest {
    border-radius: 3px;
    border: 1px solid black;
    margin-right: 90px;
    font-weight:  bold;
}

.guest:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 14px;
}


/*
tentative splash form
*/

.splash-body{
    display: flex;
    flex-direction: column;
    height: 650px;
    background-image: image_url('steak_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top-nav{
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;

}

.homeButtons {
    display: flex;
    justify-content: space-evenly;
    width: 240px;
}

.splash-nav-ele {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;
}

.home-links1{
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 80px;
    background-color: transparent;
    font-size: 19px;
    border: transparent;
}

.nav-ele {
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.home-links2 {
    text-decoration-line: none;
    width: 120px;
    height: 40px;
    font-size: 19px;
    padding: 10px;
    padding-top: 6px;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.home-links2:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}

.home-links1:hover{
    border-radius: 0;
    border-bottom: 2px solid white;
    cursor: pointer;

}

.links1 {
    text-decoration-line: none;
    color: white
}

.links2 {
    text-decoration-line: none;
    color: white
}

.links2:hover{
    background-color: white;
    cursor: pointer;
    color: black
}


.home-ele-size {
    font-size: 18px;
}

.hero-image {
    position: relative;
    z-index: -1;
    object-fit: cover;
    min-width: 1600px;
    background-position: 50%;

}


.home {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 80px; */
    margin-bottom: 80px;
}

.main-title {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
    color: white;
}

.search {
    width: 800px;
    height: 50px;
    display: flex;
}

.search-label {
    background: white;
    height: 34px;
    width: 50px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    color: darkslategray;
    font-weight: bold;
    
}
.search-form {
    width: 675px;
    height: 44px;
    font-size: 20px;
    padding-right: 20px;
}

.search-submit {
    width: 50px;
    height: 50px; 
}

#error {
    border: 1px solid red;
}

.errors {
    margin-right: 160px;
}

.signup-errors {
    margin-right: 80px;
    line-height: 1.5em;
}

//greeting 

.greeting-search {
    background: rgb(20, 18, 18);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 90px;
    width: 100vw;
}

.greeting-search2 {
    background: rgb(20, 18, 18);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 90px;
    width: 100vw;
}

.greeting-new{
    background: rgb(20, 18, 18);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 90px;
    width: 100vw;
}

.greeting-search-box {
    border: 3px solid white;
    height: 40px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    margin-top: 22px;
}
.greeting-search-box2 {
    border: 3px solid white;
    height: 40px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    margin-top: 22px;
}

.greeting-search-form {
    width: 880px;
    font-size: 20px;
}
.greeting-search-form2 {
    width: 880px;
    font-size: 20px;
}

.greeting-search-label {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background-color: white;
    width: 70px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.greeting-search-label2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background-color: white;
    width: 70px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.logo-title{
    margin-right: 70px;
}

.welcome {
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.greeting-title {
    color: white;
    font-size: 36px;
    margin-left: 80px;
    margin-top: 26px;
}

.logout-link {
    height: 30px;
    width: 70px;
}

.greeting-welcome {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

//search and filters

.filter-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 241, 241);
    border: 1px solid rgb(201, 192, 192);
    margin-bottom: 2%;
    
}

.filter-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 900px;
    justify-content: space-evenly;
    padding-bottom: 10px;

}

.price-filters {
    width: 150px;
    display: flex;
    flex-direction: row;

}

#green {
    background-color: rgb(173, 224, 173);
    outline-color: green;
}

.takeout {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.cuisine-filters {
    width: 315px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.each-filter-feature {
    min-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 60px;
}

.filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 900px;
    margin-right: 18px;
    padding-top: 10px;
    
}

.filter-selector {
    display: flex;
    flex-direction: row;
    min-width: 900px;
    margin-right: 60px;
}

.no-margin {
    margin: 0px;
}

.split-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 190px;
    margin-left: 10px;
    
}

.filter-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    min-width: 880px;
    align-items: center;
}

.filt {
    height: 30px;
    width: 100px;
    border: none;
    color: gray;
    font-size: 13px;
    outline: 1px solid black;
    
}

.filt:hover {
    cursor: pointer;
}

.icon1 {
    height: 15px;
    width: 15px;
}

.icon2 {
    height: 15px;
    width: 15px;
}

//restaurant index

.restaurant-ii-photo{
    height: 200px;
    width: 200px;
    
}

#pic {
    height: 19vh;
    width: 15vw;
    border: 1px solid black;
    border-radius: 2px;
}

.restaurant-ii-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.5em;
    width: 500px;
    height: 165px;
    border-bottom: 1px solid gray

}

.restaurant-ii-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    
}

.restaurant-info-container {
    width: 600px;
    height: 214px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.restaurant-info-top-left {
    align-self: flex-start;
}



.inner-restaurant-index {
    width: 70vw;

}

#center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50vw;
}

#index-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.all-results {
    margin-left: 17vw;
    font-weight: bold;
    color: rgb(25, 28, 26);
    font-size: 19px;
}

.restaurant-title {
    font-size: 19px;
    text-decoration-line: none;
    font-weight: bold;
    color: rgb(64, 61, 173)
}


//home state filters

.home-filter-backgrounds {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-image: linear-gradient(#141414, #282530)
}

.filter-title {
    text-align: center;
    font-size: 22px;
    color: white
}

.state-list-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 1050px;
    padding: 0px;
}

.state-li {
    width: 256px;
    height: 256px;
    border-radius: 3px;
    border: 3px solid black;
    text-decoration: none;

}

.state-li Link {
    text-decoration: none;
}

.state-li:hover {
    border-color: white;
}

#ca-li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sf-li {
    background-image: image_url('sf_icon.jpg')
}

#wy-li {
    background-image: image_url('wyoming_icon.jpg')
}

#nv-li {
    background-image: image_url('las_vegas_icon.jpg')
}

.state-li:hover {
    background-color: floralwhite;
    cursor: pointer;

}

#state {
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    font-weight: bold;
    text-align: center;

}


//dropdown filters index page

.dropdown-house{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 60px;
    
}

#more {
    width: 90px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    width: 710px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    width: 170px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    width: 150px;
    text-align: center;


}

i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
  margin-bottom: 2.5px;
}


.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dd-links{
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dd-review {
    width: 120px;

}

//restaurant show

.rest-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.show-pics {
    width: 100vw;
    height: 256px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pic {
    height: 360px;
    width: 100vw;
    border: 1px solid black;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#dropdown-tt {
    padding-left: 10px;
}

.rest-show-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 71vh;
    outline: black;
    margin-top: 20px;
}

.show-info-left {
    width: 43vw;
    height: 55vh;
    margin-right: 22%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#main-info {
    height: 500px;
    width: inherit;
}

#review-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-right: 22%;
}

#test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin-left: 15%;
    

}

#test h2 {
    text-align: center;
    border-radius: 5px;
}

#review-ele {
    width: 28vw;
    height: 17vw;
    list-style: none;
    padding: 10px;
}

#info-rev p {
    overflow-wrap: break-word;
}

#info-rev div h2 {
    text-align: start;
}

#reviews-ul {
    width: 82%;
    height: 50%;
}

#user-info-rev h4, p{
    margin: 0px;
}

#info-rev {
    width: 70%;
}

#info-rev h2 {
    margin-top: 0px;
}

.show-info-right {
    border: 1px solid black;
    width: 19vw;
    height: 23.5vh;
    position: fixed;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 5px;
}

.show-info-right div {
    line-height: 1.5em;
}

#right-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//review form

#new-review {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-rev {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 90px;
    width: 100vw;
}

#rev-form-input {
    margin-left: 1%;
}



#rev-a {
    text-align: center;
    margin-top: 1%;

}
.description-review {
    width: 57vw;
    height: 46vh;
    font-size: 20px;
}


//review index item



//review form
.head h1, h4 {
    text-align: center;
}
.head-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.head-price > p{
    width: 50%;
    text-align: center;
    margin-top: 0px;
}

.head-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: 9%
}

.head {
    border: 1px solid black;
    padding-bottom: 3%;
    border-radius: 5px;
}

.show-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
}

#list-hour {
    list-style: none;
   
}

.hours {
    line-height: 1.8em;
    padding-left: 0px;
    
}

#show-button{
    height: 32px;
    width: 120px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
}

.writeReview {
    color: red;
}


#home-filter1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-ii-photo img {
    width: 16vw;
    height: 22vh;
    margin-left: 0;
}

#map-container {
    margin-right: 150px;
    display: inline-block;


}

#map {
    position: fixed;
    width: 32%;
    height: 40%;
    top: 320px;
    right: 50px;
}

.mapboxgl-popup {
max-width: 30px;
max-height: 50px;
background-color: white;
border-radius: 3px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup p {
    text-align: center;
}

.mapboxgl-popup.mapboxgl-popup-anchor-right {
    max-width: 150px
}
#rev-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#rev {
    border: 1px solid black;
    border-radius: 5px;
    width: 53.2%;
    margin-left: 1%;

}

#rev-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#rev-button a {
    text-align: center;
}

#but:hover {
    cursor: pointer;
}
