/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
tentative body
*/
body {
    /* position: absolute; */
    margin: auto;
    /* height: 100vh;
    display: flex;
    justify-content: center; */
}

/*
tentative login/signup forms
*/


.login-image {
    /* position: relative;
    z-index: -1;
    object-fit: cover;
    min-width: 1600px; */
    
}

.everything{
    display: flex;
    flex-direction: column;
    position: relative;

}

.root-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('/login_background2.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.privacy-policy {
    margin: 10px;
    line-height: 1.5em;

}

.policy {
    margin-left: 132px;
    text-decoration-line: none;
    color: blue;
}

.policy:hover {
    text-decoration-line: underline;
}

.root-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('/rest_background.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.login-signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: white;
    border: solid 1px black;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: white;
    border: solid 1px black;
    margin-top: 150px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    height: 700px;
    margin: auto;
}

#errors-form {
    height: 800px;
}

.login-value {
    width: 370px;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px gray solid
}

.login-value-name {
    width: 180px;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px gray solid;
}

.login-names {
    width: 382px;
    display: flex;
    justify-content: space-between;
}

.login-submit {
    width: 375px;
    height: 45px;
    font-size: 18px;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 0;
    margin-right: 10px;
}

.signup-submit {
    width: 375px;
    height: 55px;
    font-size: 18px;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 0;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.login-links {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 175px;
}

.login-links4 {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 20px;
    
}

.signup-link-btn {
    text-decoration-line: none;
    color: blue;
}

.signup-link-btn:hover {
    text-decoration-line: underline;
}

.login-links1 {
    margin-top: 5px;
}

.login-links3 {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 200px;
}

.signup-links {
    margin-top: 5px;
    font-weight: bold;
    font-size: 22px;
}

.login-title {
    margin-bottom: 0px;
    font-size: 34px;
}

.back-to-login {
    text-decoration-line: none;
    color: blue;
}

.back-to-login:hover {
    text-decoration: underline;

}

.line-height {
    line-height: 1.5em;
}

.guest-redirect {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 380px;
    margin-top: 20px;
    margin-right: 9px;
}

.guest {
    border-radius: 3px;
    border: 1px solid black;
    margin-right: 90px;
    font-weight:  bold;
}

.guest:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 14px;
}


/*
tentative splash form
*/

.splash-body{
    display: flex;
    flex-direction: column;
    height: 650px;
    background-image: url('/steak_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top-nav{
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.homeButtons {
    display: flex;
    justify-content: space-evenly;
    width: 240px;
}

.splash-nav-ele {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;
}

.home-links1{
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 80px;
    background-color: transparent;
    font-size: 19px;
    border: transparent;
}

.nav-ele {
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.home-links2 {
    text-decoration-line: none;
    width: 120px;
    height: 40px;
    font-size: 19px;
    padding: 10px;
    padding-top: 6px;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.home-links2:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}

.home-links1:hover{
    border-radius: 0;
    border-bottom: 2px solid white;
    cursor: pointer;

}

.links1 {
    text-decoration-line: none;
    color: white
}

.links2 {
    text-decoration-line: none;
    color: white
}

.links2:hover{
    background-color: white;
    cursor: pointer;
    color: black
}


.home-ele-size {
    font-size: 18px;
}

.hero-image {
    position: relative;
    z-index: -1;
    object-fit: cover;
    min-width: 1600px;
    background-position: 50%;

}


.home {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 80px; */
    margin-bottom: 80px;
}

.main-title {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
    color: white;
}

.search {
    width: 800px;
    height: 50px;
    display: flex;
}

.search-label {
    background: white;
    height: 34px;
    width: 50px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    color: darkslategray;
    font-weight: bold;
    
}
.search-form {
    width: 675px;
    height: 44px;
    font-size: 20px;
    padding-right: 20px;
}

.search-submit {
    width: 50px;
    height: 50px; 
}

#error {
    border: 1px solid red;
}

.errors {
    margin-right: 160px;
}

.signup-errors {
    margin-right: 80px;
    line-height: 1.5em;
}

//greeting 

.greeting-search {
    background: rgb(20, 18, 18);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100vw;
    
   
   
}

.greeting-search-box {
    border: 3px solid white;
    height: 40px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
}

.greeting-search-form {
    width: 880px;
    font-size: 20px;
}

.greeting-search-label {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    background-color: white;
    width: 70px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.logo-title{
    margin-right: 70px;
}

.welcome {
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.greeting-title {
    color: white;
    font-size: 36px;
    margin-left: 150px;
}

.logout-link {
    height: 30px;
    width: 70px;
}

.greeting-welcome {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

//search and filters

.filter-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.filter-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 900px;
    justify-content: space-evenly;

}

.each-filter-feature {
    min-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 60px;
}

.filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 900px;
    margin-right: 60px;
    padding-top: 40px;
    
}

.filter-selector {
    display: flex;
    flex-direction: row;
    min-width: 900px;
    margin-right: 60px;
}

.no-margin {
    margin: 0px;
}

.split-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    
}

.filter-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    min-width: 880px;
    align-items: center;
}

.filt {
    width: 90px;
    height: 30px;
    border: none;
    color: gray;
    font-size: 14px;
}

.filt:hover {
    cursor: pointer;
}

.icon1 {
    height: 15px;
    width: 15px;
}

.icon2 {
    height: 15px;
    width: 15px;
}

//restaurant index

.restaurant-ii-photo{
    height: 284px;
    width: 284px;
    border: 1px solid black;
    margin-right: 35px;
}

.restaurant-ii-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.restaurant-ii-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.restaurant-info-container {
    width: 600px;
    height: 214px;
}

.all-results {
    margin-left: 490px;
    font-weight: bold;
    color: rgb(25, 28, 26);
    font-size: 19px;
}

.restaurant-title {
    font-size: 19px;
    text-decoration-line: none;
    font-weight: bold;
    color: rgb(64, 61, 173)
}


//home state filters

.home-filter-backgrounds {
    width: 100vw;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-image: linear-gradient(#141414, #282530)
}

.filter-title {
    text-align: center;
    font-size: 22px;
    color: white
}

.state-list-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 1050px;
    padding: 0px;
}

.state-li {
    width: 256px;
    height: 256px;

}

#ca-li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sf-li {
    background-image: url('/sf_icon.jpg')
}

#wy-li {
    background-image: url('/wyoming_icon.jpg')
}

#nv-li {
    background-image: url('/las_vegas_icon.jpg')
}

.state-li:hover {
    background-color: floralwhite;
    cursor: pointer;

}

#state {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    color: white;
    font-weight: bold;
}